.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #010101;
  padding-inline: 2rem;
}
.footerSection {
  background-color: black;
}
@media (min-width: 640px) {
  .aboutSection {
    align-items: center;
    
  }
}
